
# Note we depend on NODE_ENV being set to dictate which of the env variables below get loaded at runtime. 
# See README for more details.

# Application Port - express server listens on this port (default 3000).
PORT=3000

# Machine name to id on the db
HOST=host

# Database: ticktock | influxdb
TSDB=influxdb
WRITE_TO_DB=false

TICKTOCK_URL=http://localhost:6182

INFLUXDB_URL=http://localhost:8086
INFLUXDB_ORGANIZATION=<org>
INFLUXDB_BUCKET=<bucket>
INFLUXDB_TOKEN=<token>
